br {
    user-select: none;
}

.bg1 {
    background-color: rgba(0, 0, 0, 0.7);
}

.body1 {
    position: relative;
    background-image: url('/mainui/images/into/04.jpg');
    width: 603.562px;
    height: 100%;
    background-size: 145% 100%;
    background-repeat: no-repeat;
}

.box {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 55%;
    z-index: 2;
    border-radius: 20px;
}

.welcome{
    position: absolute;
    left: 51.5%;
    top: 15%;
    width: 140%;
    height: 63%;

}

.text1 {
    position: absolute;
    font-size: 35px;
    top: 32%;
    left: 5%;
}

.inputdiv1{
    position: absolute;
    top: 32%;
    left: 26%;
    width: 70%;
    height: 13%;
}

.input1 {
    width: 100%;
    height: 80%;
}

.text2 {
    position: absolute;
    font-size: 35px;
    top: 55%;
    left: 5%;
}

.inputdiv2{
    position: absolute;
    top: 55%;
    left: 26%;
    width: 70%;
    height: 13%;
}

.input2 {
    width: 100%;
    height: 80%;
}

.btninto{
    position: absolute;
    background-color: #ffd28d;
    color: 	#5B5B5B;
    font-size: 45px;
    top: 77%;
    right: 5%;
    width: 35%;
    height: 16%;
    border-radius:45%;
    transition:0.6s linear;
}
.btninto:hover{
    font-size: 55px;
    color: #FF0000;
    border-radius:10%;
}

.btn2{
    position: absolute;
    background-color: #00A600;
    color: 	#272727;
    font-size: 45px;
    top: 77%;
    left: 10%;
    width: 35%;
    height: 16%;
    border-radius:45%;
    transition:0.6s linear;
}
.btn2:hover{
    font-size: 55px;
    color: #FF0000;
    border-radius:10%;
}

/* 會員管理按鈕 */
.btn_manage{
    position: absolute;
    /* font-size: 45px; */
    top: 13%;
    left: 10%;
    width: 20%;
    height: 6%;
    z-index: 2;
}

/* 註冊的css */
.reg-mask{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    width: 100%;   
}

.reg-container{
    position: absolute;
    background-image: url('/mainui/images/into/reg2.jpg');
    top: 50%;
    left: 50%;
    width: 80%;
    border-radius: 20px;
    transition:0.3s linear;
}

.reg-leavbtn{
    position: absolute;
    background-image: url('/mainui/images/into/X.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    right: -10%;
    top: 0%;
    width: 10%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.reg-img1{
    position: absolute;
    left: 50%;
    top: -3%;
    width: 60%;
    height: 35%;
    border-radius: 50%;
}

.reg-text1 {
    position: absolute;
    font-size: 35px;
    top: 32%;
    left: 5%;
}

.reg-inputdiv1{
    position: absolute;
    top: 32%;
    left: 26%;
    width: 70%;
    height: 13%;
}

.reg-input1 {
    width: 100%;
    height: 80%;
}

.reg-text2 {
    position: absolute;
    font-size: 35px;
    top: 49%;
    left: 5%;
}

.reg-inputdiv2{
    position: absolute;
    top: 50%;
    left: 26%;
    width: 70%;
    height: 13%;
}

.reg-text3 {
    position: absolute;
    font-size: 35px;
    top: 66%;
    left: 5%;
}

.reg-inputdiv3{
    position: absolute;
    top: 67%;
    left: 26%;
    width: 70%;
    height: 13%;
}

.reg-btn{
    position: absolute;
    background-color: #00A600;
    color: 	#AE0000;
    font-size: 35px;
    bottom: 1%;
    left: 50%;
    width: 30%;
    height: 13%;
    border-radius:45%;
    transition:0.6s linear;
}
.reg-btn:hover{
    font-size: 45px;
    color: #FF2D2D;
    border-radius:10%;
}


