br {
    user-select: none;
}

.bg1 {
    background-color: rgba(0, 0, 0, 0.4);
}

.body1 {
    background-image: url('@/mainside/images/index/03.jpg');
    width: 850px;
    height: 1085px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.index1 {
    width: 850px;
    position: relative;
    height: 150px;
}

.inbox1-1 {
    position: absolute;
    user-select: none;
    top: 1%;
    left: 5%;
    width: 150px;
    height: 150px;
    z-index: 2;
}

.inbox1-1-1 {
    position: absolute;
    user-select: none;
    border-radius: 35%;
    top: 19%;
    left: 8.5%;
    width: 95px;
    height: 100px;
    z-index: 1;
}

.inbox1-1-2 {
    position: absolute;
    width: max-content;
    height: max-content;
    top: 25%;
    left: 22%;

}

.inbox1-2 {
    position: absolute;
    width: max-content;
    height: max-content;
    top: 30%;
    left: 45%;
}

.index2 {
    position: relative;
    width: 850px;
    height: 935px;
}

.inbox2-1 {
    position: absolute;
    bottom: 0%;
    left: 55%;
}

.inbox2-2 {
    position: absolute;
    bottom: 45%;
    right: 7%;
}

.inbox2-3 {
    position: absolute;
    top: 0%;
    left: 3.5%;
}

.inbox2-4 {
    position: absolute;
    top: 13%;
    left: 14%;
}

.pic01 {
    position: absolute;
    top: 0%;
    right: 2%;
    width: 300px;
    height: 185px;
    z-index: 2;
}