@import "var";
@import url('./icomoon/style.min.css');
$lg-title: m#{i}n(m#{a}x(24px, 7vw), 42px);
$sb-title: m#{i}n(m#{a}x(20px, 7vw), 28px);
$sm-title: m#{i}n(m#{a}x(13px, 2vw), 24px);
$it-title: m#{i}n(m#{a}x(17px, 3vw), 22px);
$it-content: m#{i}n(m#{a}x(15px, 2vw), 17px);
$md-content: m#{i}n(m#{a}x(16px, 2.5vw), 18px);
$sm-content: m#{i}n(m#{a}x(14px, 2vw), 16px);
$prod-title: m#{i}n(m#{a}x(22px, 6vw), 32px);

.loading-window {
  transition: all linear .5s;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $primary;
  top: 0;
  left: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 150%;
  opacity: 1;
  pointer-events: none;
  z-index: 10;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  // background-image: url('../images/map.svg');
  text-align: center;
  & img {
    width: 80%;
    max-width: 380px;
    display: block;
    margin: 0 auto 10px auto;
  }
  & p {
    font-size: 18px;
    width: 100%;
    color: darken($orange, 30%);
    letter-spacing: 2px;
    font-weight: bold;
  }
  & .jump-dots {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 20px;
    width: 100%;

    & > * {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin: 6px;
      border-radius: 50%;
      background-color: #fff;
      content: "";
      animation: jump-dots .6s ease-in-out infinite;
      @for $i from 1 through 8 {
        &:nth-of-type(#{$i}) {
          animation-delay: #{0.075 * ($i - 1)}s;
        }
      }
    }
  }
  & ~ * {
    opacity: 0;
  }
  &.done { // must be final
    opacity: 0;
    pointer-events: none;
    & ~ * {
      opacity: 1;
    }
  }
}
#page main, #page header, #page footer, main article {
  transition: all ease-out .3s;
}

.btn-lg {
  font-size: 18px;
  letter-spacing: 1px;
  padding-top: 12px;
  padding-bottom: 12px;
}
body {
  font-family: 'Noto Sans TC', sans-serif;
}
@for $i from 0 through 10 {
  .z-#{$i} {
    z-index: #{$i};
  }
}
@for $i from 1 through 10 {
  .mh-#{$i * 10} {
    min-height: #{$i * 10}vmin;
  }
}
.container-max-1920 {
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  @media screen and (min-width: 1921px) {
    width: 90%;

  }
  @media screen and (max-width: 1920px) {
    max-width: 1720px;
    width: 100%;
  }
  @media screen and (max-width:1680px) {
    max-width: 1400px;
    width: 100%;
  }
}
#top {
  width: 60px;
  height: 60px;
  line-height: 60px;
  content: "";
  position: fixed;
  right: 16px;
  bottom: 8vh;
  font-size: 40px;
  text-align: center;
  display: none;
  transition: all ease .2s;
  color: darken($orange, 20%);

  &::after {
    display: block;
    content: "TOP";

    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    font-weight: bold;
  }
  // &.at-footer {
  //   color: #fff;
  // }
  @media screen and (max-width: $md - 0.02) {
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 30px;
    &::after {
      font-size: 15px;
    }
  }
}
.container-row {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  @each $media, $wid in $container-max-widths {
   @media screen and (min-width: #{$media}px) {
     max-width: #{$wid};
     width: 100%;
   }
  }
}
p {
  letter-spacing: 1.5px;
  line-height: 1.7;
}

@keyframes  jump-dots {
  0%, 100% { transform: translateY(0px);}
  50% { transform: translateY(50px);}
}
.logo {
  background-image: url('../images/v_logo.svg');
  width: 151px;
  padding-bottom: 60px;
  content: "";
  display: inline-block;
  background-size: 100% auto;
  background-position: 0 50%;
  background-repeat: no-repeat;
  @media screen and (max-width: $lg - 0.02) {
    background-size: auto 78%;
    padding-bottom: 70px;
  }

}
$bgs-pos: (
left 0%,
center 50%,
right 100%
);
[class*="bgpos"] {
  background-repeat: no-repeat;
  // background-size: cover;
}
@each $pos, $percentage in $bgs-pos {
  .bgpos-x-#{$pos}, .bgpos-x-#{$pos} > img {
    background-position-x: #{$percentage};
    //object-position: #{$percentage} 50%;
  }
  .bgpos-y-#{$pos}, .bgpos-y-#{$pos} > img {
    background-position-y: #{$percentage};
    //object-position: #{$percentage} 50%;
  }
}
@each $pos, $percentage in $bgs-pos {
  .op-x-#{$pos}, .op-x-#{$pos} > img {
    object-position: #{$percentage} 50%!important;
  }
  .op-y-#{$pos}, .op-y-#{$pos} > img {
    object-position: 50% #{$percentage}!important;
  }
}

.bnr-header {
    min-height: calc(1080px - 70px);
    height: calc(100vh - 70px);
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: 50%;
    transition: .8s transform cubic-bezier(.07,.68,.12,.95) 0s, 1s opacity linear .4s;
    & .pos-ab {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
    }

    & .container-row, & .row {
      height: inherit;
      min-height: inherit;
    }
    @media screen and (max-width: 1023.98px) {
      min-height: calc(100vmin - 95px);
      height: calc(100vh - 95px);
    }
}
.bnr-content {
  min-height: 70vmin;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-size: cover;
  content: "";
  & .h-inherit {
    min-height: inherit;
  }
  &.sm {
    min-height: 450px;
    @media screen and (max-width: $lg - 0.02) {
      min-height: 300px;
    }
  }
}
.space-tb {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.title {
  font-weight: 700;
  font-size:  $lg-title;
  letter-spacing: 3px;
  line-height: 1.2;

  & span {
    position: relative;
    line-height: 1;
    letter-spacing: 0px;
    margin-right: .8vw;
    &:last-of-type {
      margin-right: 0;
    }

    &::before {
      position: absolute;
      content: "";
      width: 140%;
      height: 100%;
      // border: 3px solid #fff;
      background-image: url('../images/dec/text-circle.svg');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      border-radius: 50%;
      top: 1px;
      left: -20%;
      transform: scale(1.08);
      transform-origin: 50%;
    }
    @media screen and (max-width: $md) {
      margin-right: 4vw;
    }
    @media screen and (max-width: $sm) {
      margin-right: 2vw;
    }
  }
}
.sub-title {
  font-size: $sb-title;
  line-height: 1.6;
  letter-spacing: 1.5px;
}
.sm-title {
  font-size: clamp(17px, 6vw, 19px);
  line-height: 1.6;
  letter-spacing: 1.5px;
}
.content-text {
  font-size: m#{i}n(m#{a}x(17px, 6vw), 19px);
  letter-spacing: 1px;
  line-height: 1.8;
}






.custom-list {

  margin: 0;
  padding: 0;
  list-style-position:outside;
  padding-left: 19px;

  & li {
    font-size: m#{i}n(m#{a}x(17px, 6vw), 20px);
    line-height: 1.6;
    letter-spacing: 1px;
    padding: 7px 0 7px 0px;
    font-weight: inherit;
    // &::before {
    //
    //   display: inline-block;
    //   font-size: inherit;
    //   width: 18px;
    //   content: "â—";
    //   margin-left: -24px;
    //   vertical-align: top;
    //   margin-right: 4px;
    //   font-size: 12px;
    //   transform: scale(.8) translateY(6px);
    //   transform-origin: 0 50%;
    // }
   & small {
     font-size: 130%;
     font-weight: bold;
     color: $danger;
     padding-left: 2px;
     padding-right: 2px;
   }
  }
}
ol.custom-list {
  list-style-type: decimal;
  padding-left: 36px;
  & li {
    line-height: 1.7;
    margin-bottom: 20px;
    // &::before {
    //   counter-increment: section;
    //   content: counter(section)'.';
    //   font-size: 95%;
    //   vertical-align: text-top;
    //   transform: scale(1) translateY(0px);
    //   margin-top: -2px;
    // }
  }
}


.collapse-set {
  float: left;
  display: block;
  & *::before, & *::after, & * {
   transition: all linear .2s;

  }
  background-color: transparent;
  border: 0;
  & .accordion-item {
    border: 0;
    border-radius: 0.375rem;
    background-color: #fff;
    margin-bottom: 15px;
  }
  & .accordion-button {
    font-size: m#{i}n(m#{a}x(18px, 7vw), 22px);
    letter-spacing: 2px;
    background-color: $cyan;
    display: block;
    padding: 24px 20px 24px 70px;
    text-align: left;
    position: relative;
    color:  #fff;
    line-height: 1.4;
    z-index: 1;
    transition: all ease-out .25s;
    outline: 0;
    box-shadow: none;
    border: 0;
    border-radius: 0.375rem;
    @media screen and (max-width: $sm - 0.02) {
      padding-left: 60px;
      // font-size: 17px;
    }
    &::before {
      font-family: 'icomoon';
      content: "\e92d";
      display: block;
      width: 18px;
      height: 18px;
      line-height: 18px;
      position: absolute;
      top: 50%;
      left: 25px;
      margin-top: -9px;
      transform-origin: 50%;
      transform: rotate(-90deg);
      transition: all ease-out .25s;
    }
    &[aria-expanded="true"] {
      background-color: darken($orange, 25%);
      color: #fff;
      &:hover {
        background-color: darken($orange, 25%);
        color: #fff;
      }
      &::before {
        transform: rotate(0deg);
      }

    }
    &:hover {
      background-color: darken($cyan, 4%);
      color: #fff;
      //e68a00
    }

  }//a

  &  .collapse {
    & .accordion-body {
      // display: block;
      // float: left;

      width: 100%;
      & > * {
        // display: block;
        // float: left;
        width: 100%;
        color: #323232;
        font-size: inherit;
        transition: none;

      }

    }
    &.show {
       & .accordion-body {

       }
     }
    }
}

main {
  min-height: calc(100vh - (550px + 70px));
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/main.png');
    content: "";
    opacity: .8;
    background-position: 0% 95%;
    // background-attachment: fixed;
  }
  &.remove-bg {
    &::before {
      display: none;
    }
  }
}

footer {
  background-position: 50% 100%;
  background-repeat: repeat-x;
  background-size: auto 120px;
  padding-top: 30px;
  padding-bottom: 60px;
  & p {
    font-size: 15px;
    & a {
      color: darken($orange, 15%);
    }
  }
}


.pos-ab-y-s {
	background-size: auto clamp(25vh, 28vh, 287px);
	background-repeat: no-repeat;
	background-position: 96% 6vh;
  @media screen and (max-width: $lg - 0.02) {
    background-position: 95% 3vh;
  }

}
.pos-ab-y-e {
	background-size: auto 140px;
	background-repeat: repeat-x;
	background-position: 0 100%;
}

.bg-linear-primary {
  background: linear-gradient(to bottom, lighten($primary, 20%), $primary);
  &.rota-bg {
    background: linear-gradient(to top, lighten($primary, 20%), $primary);
  }
}
.bg-primary-lighten {
  background-color: lighten($primary, 20%);

}
.btn-wrap {
  list-style-type: none;
  padding-top: 60px;
  justify-content: center;
  & > * {
    padding-left: 1rem;
    padding-right: 1rem;

  }
  & a {
    background-color: darken($orange, 30%);
    display: inline-block;
    padding: 10px 25px;
    font-size: 19px;
    letter-spacing: 1px;
    border-radius: 40px;
    color: #fff;
    font-weight: 500;
    transition: all ease .25s;

    &:hover {
      background-color: $cyan;
    }
  }
  & .active{
    & > a {
      background-color: $cyan;
    }
  }
}

.filter-shadow {
  & img {
    filter: drop-shadow(2px 2px 6px rgba(#000, 0.2));
  }
}

.css-dropdown {
  width: 100%;
  // background-color: $cyan;

  border-bottom: 1px solid darken($primary, 15%);
  position: relative;
  & label {
    display: none;
  }

  & .inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    transition: all ease .3s;

    & a {
      font-size: 20px;
      letter-spacing: 1px;
      color: darken($orange, 20%);
      display: inline-block;
      padding: 10px 20px;
      border-radius: 7px 7px 0 0;
      border: 1px solid transparent;
      border-bottom: 0;
      &.active, &:hover {
        background-color: darken($orange, 25%);
        border: 1px solid darken($primary, 18%);
        border-bottom: 0;
        color: #fff;
      }
    }
  }
  @media screen and (max-width: $lg - 0.02) {
    max-width: 450px;
    width: 100%;
    border: 1px solid darken($primary, 15%);
    border-radius: 6px;
    background-color: #fff;
    display: block;
    margin: 0 auto 25px auto;
    z-index: 1;
    & label {
      display: block;
      font-size: 20px;
      padding: 15px 30px 15px 15px;
      letter-spacing: 1px;
       position: relative;
       color: darken($orange, 25%);
      &::after {
        width: 16px;
        height: 16px;
        content: "";
        border: 8px solid transparent;
        border-top-color: darken($orange, 25%);
        position: absolute;
        top: 50%;
        right: 15px;
        transform: scaleX(.8);
      }

    }
    & .inner {
      width: 100%;
      background-color: #fff;
      position: absolute;
      flex-flow: column wrap;
      top: 100%;
      left: 0;
      border: 1px solid darken($primary, 15%);
      border-radius: 6px;
      visibility: collapse;
      opacity: 0;
      & a {
        width: 100%;
        font-size: 20px;
        padding: 15px 15px;
        border-radius: 0;
        border-bottom:  1px solid darken($primary, 15%);

        &:last-of-type {
          border-bottom: 0;
        }
      }
    }
    & #drop:checked {
      & ~ .inner {
        visibility: visible;
        opacity: 1;
      }
    }
  }//medua
}
.ani-btn {
  position: relative;
  background-color: $cyan;
  border-radius: 0;
  padding: 12px 15px;
  min-width: 220px;
  display: inline-block;
  color: #fff;
  font-size: 19px;
  letter-spacing: 1px;
  z-index: 0;
  line-height: 1.5;
  overflow: hidden;
  transition: all linear .2s;
  outline: 0;
  border: 0;
  box-shadow: none;
  &::before, &::after {
    position: absolute;
    width: 100%;
    height: calc(100% + 2px);
    font-family: 'icomoon';
    text-align: center;
    transition: all linear .25s;
    content: "";
    top: -1px;
    z-index: -1;
    padding: inherit;
  }
  &::before {
    background-color: darken($primary, 8%);

    left: 100%;
    transition-delay: 0s;
  }
  &::after {
    content: "\e960";
    background-color: $teal;
    font-size: 25px;
    line-height: 1.2;
    left: -100%;
    z-index: 1;
    transition-delay: 0s;
  }
  &:hover {
    background-color: transparent;
    color: #fff;
    &::before {
      left: 0%;
      transition-delay: -.1s;
    }
    &::after {
      left: 0;
      transition-delay: 0s;
    }
  }
}
