br {
    user-select: none;
}

.bg1 {
    background-color: rgba(0, 0, 0, 0.7);
}

.body1 {
    position: relative;
    background-image: url('/mainui/images/into/04.jpg');
    width: 603.562px;
    height: 100%;
    background-size: 145% 100%;
    background-repeat: no-repeat;
}

.box {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 55%;
}

.welcome{
    position: absolute;
    left: 51.5%;
    top: 15%;
    width: 140%;
    height: 63%;

}

.text1 {
    position: absolute;
    font-size: 35px;
    top: 33%;
    left: 5%;
}

.inputdiv1{
    position: absolute;
    top: 32%;
    left: 26%;
    width: 70%;
    height: 13%;
}

.input1 {
    width: 100%;
    height: 80%;
}

.text2 {
    position: absolute;
    font-size: 35px;
    top: 55%;
    left: 5%;
}

.inputdiv2{
    position: absolute;
    top: 55%;
    left: 26%;
    width: 70%;
    height: 13%;
}

.input2 {
    width: 100%;
    height: 80%;
}

.btn1{
    position: absolute;
    background-image: url('https://fakeimg.pl/50x50/200/?text=change');
    background-color: transparent;
    /* 按鈕的背景顏色變為透明的 */
    border-style: none;
    background-size: 100% 100%; 
    top: 77%;
    right: 5%;
    width: 35%;
    height: 16%;
}

.btn2{
    position: absolute;
    background-image: url('https://fakeimg.pl/50x50/200/?text=change');
    background-color: transparent;
    /* 按鈕的背景顏色變為透明的 */
    border-style: none;
    background-size: 100% 100%; 
    top: 77%;
    left: 10%;
    width: 35%;
    height: 16%;
}


